{% extends 'base.html.twig' %}

{% block body %}
<div id="smashtube-content">

	<!-- TODO: Remove hardcoded shit -->
	<div id="smashtube-explore" class="smashtube-content-group" data-shown="1">
		{% for media in medias %}
		<div class="smashtube-content-container" data-src="{% if media.path == null %}{% else %}{{ media.path }}{% endif %}" data-title="{{ media.title }}">
			<table class="table">
				<tbody>
					<tr>
						<td style="width: 25%;">
							<img class="smashtube-media-thumbnail"
							src="{% if media.thumbnail == null %}demo/thumbnail-demo.jpg {% else %}{{ media.thumbnail }}{% endif %}"/>
						</td>
						<td>
							<div class="col-md-12"">
								<b><h1>{{ media.title }}</h1></b>
							</div>
							<div class="col-md-12">
								<i>{{ media.description }}</i>
							</div>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
